.section4 {

  .container {
    background: url(img/undraw_mention_6k5d.png) no-repeat 20% 50%;
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 27.81em;
    padding: 10em 7em 10em 0;

    &-title {
      font-weight: 500;
      font-size: 36px;
      line-height: 48px;
      color: $black;
    }

    &-text {
      padding-top: 1em;
      line-height: 26px;
      color: $violet-font;
    }

    &-btn {
      margin-top: 2.5em;
      width: 150px;
      height: 32px;
      border-radius: 2px;
      background-color: $blue-btn;
    }

    &-link {

      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      text-decoration: none;
      }
    }
  }

@media (max-width: 1280px) {
  .section4 {
    .container {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.09007352941176472) 0%, rgba(255, 255, 255, 0.80620798319327735) 15%), url(img/undraw_mention_6k5d.png) no-repeat 20% 50%;
    }
  }
}

@media (max-width: 780px) {
  .section4 {

    &__content {
      padding: 7em 0;
      margin: 0 auto;

      &-title {
        text-align: center;
      }
      &-btn {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
